@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Products Catalogue</h1>

<div class="container">

    @Html.Partial("SearchPartial")

</div>

<div class="container">
    <div class="row">

        @Html.Partial("ViewProductsPartial", Model)
    </div>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),

        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = false,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })

    <hr />

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}